@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,600;0,700;1,300;1,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

body {
    background-image: linear-gradient(to right, #FFFFFF, #fffbf0);
}

.logo {
    margin: 45px auto 45px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-image {
    width: max(30px, 3.5vw);
    transform: rotate(-45deg);
}

.logo h1{
    font-size: max(40px, 4vw);
    color: #000000;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12vw;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.664);
    border-radius: 6px;
    width: 80%;
    height: 350px;
    margin: 0 auto;
}

.main-content h2 {
    margin: 20px auto 20px auto;
    font-size: max(22px, 1.7vw);
    margin-bottom: 30px;
    color: #000000;
    text-align: center;
}

.main-content p {
    margin: 20px auto 20px auto;
    font-size: max(14px, 1vw);
    text-align: center;
}

.input-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.url-input {
    padding: 10px 20px;
    text-align: center;
    outline: transparent;
    width: 50%;
    border-radius: 20px 0 0 20px;
    font-size: max(14px, 1.3vw);
    color: #000000;
    border: 0.1px solid #16100c;
}

.btn {
    padding: 10px 20px;
    width: 20%;
    border-radius: 0 20px 20px 0;
    font-size: max(14px, 1.3vw);
    background-color: #0077B5;
    border: 0.1px solid #0077B5;
    color: #ffffff;
    cursor: pointer;
}

.btn:hover {
    background-color: #0789cf;
    transition: all .5s;
}

.url-encurtada {
    margin-top: 20px;
}

.url-input-encurtada {
    width: 100%;
    font-size: max(14px, 1.3vw);
}

.url-input-encurtada:focus {
    outline: none;
}